

:root{
    --bgc:  rgb(0, 25, 0);
    --color: rgb(255, 230, 255); 
    --iconHoverColor :  rgb(0, 183, 255);
}
body{
    background-color: var(--bgc) ;
    color: rgb(255, 230, 255); 
}
.frame{
    height: 100vh;
    
}
.top{
    background-color: var(--bgc);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    user-select: none;
}
.top div{
    margin-right: 24px;
}
.headding{
    margin-left: 12px;
    margin-right: 12px;
}
.topOptions{
    margin-right: 24px;
}
.topOptions span{
    padding: 12px;
}
.content{
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 50px;
}

.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 45px;
    background-color: var(--bgc);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    user-select: none;
}
.bottom span{
    margin-right: 12px;
}

.addButton{
    color: rgb(0, 183, 255); 
    position: fixed ;
    bottom: 60px;
    right: 18px;
    
}
.addButton span svg{
    width: 40px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.home_module:hover ,.folder_module:hover{
    /* color: rgb(0, 183, 255); */
    cursor: pointer;
}
.icon_hover_color{
    color: var(--iconHoverColor);
}
.topOptions span ion-icon:hover{
    color: rgb(0, 183, 255);
}
ion-icon{
    cursor: pointer;
}
.paperResult{
    margin-left: 12px;
    margin-right: 12px;
    outline: none;
    font-size: 22px;
}
.paperTopRowOne{
    position: fixed;
    height: 45px;
    background-color: var(--bgc);
    width: 100%;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.paperTopRowOne div{
    margin-right: 12px;
}
.paperTitle{
    margin-left: 12px;
    padding-top: 50px;
}
.light_dark_color{
    color: rgba(255, 255, 255, 0.300) ;
}
.hoverColor{
    color:  var(--iconHoverColor);
}

